body {
  line-height: 1.4;
  font-family: sans-serif;
}

.product {
  border: 4px solid black;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
}

.product-details {
  text-transform: uppercase;
  font-size: 16px;
}

.details-list {
  list-style: square;
}
.product-price {
  font-size: 24px;
}

.free-shipping {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.add-to-cart {
  color: white;
  background-color: black;
  border-style: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

.add-to-cart:hover {
  color: black;
  background-color: white;
}
